In [7]:
import pandas as pd 
arquivos = pd.read_csv(r'/Users/gustavohenriquebonatopiresdemoraes/ia-portfolio-gustavo/exercicios/modulo1/Admission_Predict.csv')
arquivos.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
arquivos.drop('Serial No.', axis = 1)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [9]:
y = arquivos['Chance of Admit '] #variavel target
x = arquivos.drop('Chance of Admit ', axis = 1) #variavel preditora

In [10]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import ElasticNet

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

#Definindo os valores que serÃ£o testados:
valores = {'alpha': [0.1,0.5,1,2,5,10,25,50,100], 'l1_ratio': [0.02,0.05,0.1,0.2,0.3,0.4,0.5,0.81]}

#Criando o modelo:
modelo = ElasticNet()
procura = GridSearchCV(estimator = modelo, param_grid=valores, cv=5)
procura.fit(x,y)

#Imprimindo o resultado: print ('Melhor score:"
print('Melhor score:', procura.best_score_)
print('Melhor alpha:', procura.best_estimator_.alpha)
print('Melhor l1_ratio:', procura.best_estimator_.l1_ratio)

Melhor score: 0.7510290719875712
Melhor alpha: 0.1
Melhor l1_ratio: 0.02