In [1]:
import pandas as pd 
arquivos = pd.read_csv(r'/Users/gustavohenriquebonatopiresdemoraes/ia-portfolio-gustavo/exercicios/modulo1/Admission_Predict.csv')
arquivos.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
arquivos.drop('Serial No.', axis = 1)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [6]:
y = arquivos['Chance of Admit '] #variavel target
x = arquivos.drop('Chance of Admit ', axis = 1) #variavel preditora

In [10]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [42]:
def modeloregressaokfold(a, b):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet 
    kfold = KFold(n_splits = 10)
    x = a
    y = b
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    result_reg = cross_val_score(reg, x, y, cv = kfold)
    result_ridge = cross_val_score(ridge, x, y, cv = kfold)
    result_lasso = cross_val_score(lasso, x, y, cv = kfold)
    result_elastic = cross_val_score(elastic, x, y, cv = kfold)
    dic_regmodels = {'Linear' :result_reg.mean(), 'Ridge' :result_ridge.mean(), 'Lasso' :result_lasso.mean(), 'ElasticNet' :result_elastic.mean()}
    melhor_modelo = max(dic_regmodels, key=dic_regmodels.get)
    print('RegressÃ£o Linear:', result_reg.mean(), '\nRegressÃ£o Ridge:', result_ridge.mean(), '\nRegressÃ£o Lasso:', result_lasso.mean(), '\nRegressÃ£o ElasticNet:', result_elastic.mean())
    print('O Melhor Resultado foi:', melhor_modelo, 'com o valor=', dic_regmodels[melhor_modelo])

In [43]:
modeloregressaokfold(x, y)

RegressÃ£o Linear: 0.7807105665823386
RegressÃ£o Ridge: 0.780780748776837
RegressÃ£o Lasso: 0.1771931123139011
RegressÃ£o ElasticNet: 0.49078116205807865
O Melhor Resultado foi: Ridge com o valor= 0.780780748776837